.page-title {
    color: #000000;
    margin-left: 10px;
}

#add-project {
    /*display: inline-block;*/
    background-color: lightgray;
    border: 2px solid gray;
    margin: 5px;
    cursor: pointer;
}

#add-project:hover {
    border-color: black;
}

.projects-container {
    /*justify-content: center;*/
    border: 5px solid black;
    width: 410px;
    border-radius: 5px;
    margin-left: 10px;
}

.project-instance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gray;
    width: 400px;
    margin: 4px;
    background-color: lightblue;
    border-radius: 5px;
}

.edit-project, .delete-project {
    
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.project-name {
    
    color: blue;
    margin-right: 10px;
}

.projects-page {
    background-color: whitesmoke;
}

